@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
#change-color {
    cursor: pointer;

  height: 90px;
  width: 450px;

  font-family: "Roboto Mono", monospace;
  font-size: 1.75rem;
  font-weight: 700;
  color: white;
  
  border: 0;
    border-radius: 12px;

    box-shadow: 6px 6px 10px gray;

  background-color: black;
}

#change-color:hover {
    background-color: white;
    color: black;
}


.github {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;

    background-color: #ccc;
    padding: 10px;
    
    font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  font-weight: 700;
    color: gray;

}

.github p, img{
    padding: 2px 15px;
}


